/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/web/uploads/images/empresas/*
!web/uploads/images/empresas/.gitkeep
/web/uploads/images/publicaciones/*
!web/uploads/images/publicaciones/.gitkeep

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~
*.php~
