@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

body {
    font-family: 'Poppins', sans-serif;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Poppins', sans-serif;
}

.content {
    padding: 0;
}

.container {
    width: 1250px;
}

.navbar-center {
    margin-left: 25%;
    text-align: center;
}

.navbar-center a {
    max-height: 50px;
}

.bs-docs-header {
    font-size: 24px;
    /*padding-bottom: 60px;*/
    padding-top: 50px;
    text-align: left;
}

.bs-docs-header {
    font-size: 20px;
    /*margin-bottom: 40px;*/
}

.fixed .content-wrapper, .fixed .right-side {
    padding-top: 30px;
}

.main-header .navbar {
    background-color: #fff !important;
}

.main-header .navbar .nav > li > a {
    color: #5c666f !important;
}

.navbar-nav li:hover{
    border-bottom: 3px solid #00c0cf;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-bottom-10 {
    margin-bottom: 10%;
}

.margin-bottom-20 {
    margin-top: 20%;
}

.navbar-brand {
    padding: 1% !important;
}

.logo-navbar {
    width: 25%;
}

.ep-info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    /*margin-bottom: 15px;*/
    min-height: 90px;
    width: 100%;
}

.ep-info-box-content {
    width: 50%;
    color: #5c666f;
}

.ep-info-box-titulo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.ep-info-box-empresa {
    width: 50%;
}

.ep-info-box-content-body {
    margin-top: 10%;
}

.ep-info-box-empresa-body {
    /*margin-top: 15%;*/
    margin-left: 10%;
}

.ep-info-box-nombre-empresa {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    /*margin-top: 7%;*/
    /*position: absolute;*/
}

.ep-info-box-descripcion {
    margin-left: 20%;
}

/*promo calendario*/

.ep-promo-calendario-info-box {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /*display: flex;*/
    min-height: 90px;
    width: 100%;
}

.ep-promo-calendario-titulo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.ep-promo-calendario-body {

}

.ep-promo-calendario-nombre-empresa {
    bottom: 10%;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    right: 5%;
}

/*Premium*/
.ep-info-box-premium {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    /*margin-bottom: 15px;*/
    min-height: 90px;
    width: 100%;
    padding-top: 1%;
}

.ep-info-box-content-premium {
    width: 50%;
    color: #5c666f;
}

.ep-info-box-titulo-premium {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

.ep-info-box-empresa-premium {
    width: 50%;
}

.ep-info-box-content-body-premium {
    margin-top: 10%;
}

.ep-info-box-empresa-body-premium {
    /*margin-top: 15%;*/
    margin-left: 10%;
}

.ep-info-box-nombre-empresa-premium {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    /*margin-top: 7%;*/
    /*position: absolute;*/
}

.ep-info-box-descripcion-premium {
    margin-left: 20%;
}

.ep-badge-evento-premium {
    /*border-radius: 15px;*/
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    bottom: 25%;
    top: 69%;
    color: #fff;
    float: right;
    /*height: 15%;*/
    position: absolute;
    right: 4.5%;
    z-index: 999;
    text-align: right;
    padding: 1%;
}

.ep-btn-share {
    margin-left: 20%;
}

/*fin Premium*/

.ep-info-box-botones {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    /*border-top-right-radius: 2px;*/
    background-color: #fff;
    border-bottom: solid lightslategray;
    /*width: 38px;*/
    /*width: 15%;*/
}

.ep-btn-oferta {
    width: 30px;
    /*height: 30px;*/
    text-align: center;
    padding: 6px 0;
    font-size: 1.3em;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #fff;
    color: #5c666f;
    margin-left: 20%;
}

.ep-publicacion-box {

}

.fecha-publicacion {
    margin-left: 1%;
}

/*evenprom colors*/

.ep-verde {
    color: #00e9af;
}

.ep-celeste {
    color: #00c0cf;
}

.ep-violeta {
    color: #6a66d2;
}

.ep-gris {
    color: #5c666f;
}

.ep-amarillo {
    color: #efe91c;
}

.ep-fucsia {
    color: #d45ce6;
}

.ep-gris-claro {
    color: #d1dbe3;
}

.ep-rojo {
    color: #ff1c46;
}

.ep-bg-verde {
    background-color: #00e9af;
    color: #fff;
}

.ep-bg-celeste {
    background-color: #00c0cf;
    color: #fff;
}

.ep-bg-violeta {
    background-color: #6a66d2;
    color: #fff;
}

.ep-bg-gris {
    background-color: #5c666f;
    color: #fff;
}

.ep-bg-amarillo {
    background-color: #efe91c;
    color: #fff;
}

.ep-bg-fucsia {
    background-color: #d45ce6;
    color: #fff;
}

.ep-bg-gris-claro {
    background-color: #d1dbe3;
    color: #fff;
}

.ep-bg-rojo {
    background-color: #ff1c46;
    color: #fff;
}

.ep-btn-app {
    border-radius: 50%;
    position: relative;
    padding: 22px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 80px;
    text-align: center;
    color: #666;
    /*border: 1px solid #ddd;*/
    background-color: #f4f4f4;
    font-size: 12px;
}

.ep-btn-app > .fa,
.ep-btn-app > .glyphicon,
.ep-btn-app > .ion {
    font-size: 35px;
    display: block;
}

.ep-btn-lg-publicacion {
    border-radius: 50%;
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 80px;
    text-align: center;
    /*color: #666;*/
    border: 1px solid #ddd;
    /*background-color: #f4f4f4;*/
    font-size: 12px;
}

.ep-btn-lg-publicacion > .fa,
.ep-btn-lg-publicacion > .glyphicon,
.ep-btn-lg-publicacion > .ion {
    font-size: 50px;
    display: block;
}

/*modal*/
.ep-badge-evento-premium-modal {
    /*border-radius: 15px;*/
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    /*top: 20%;*/
    margin-top: 45%;
    color: #fff;
    float: right;
    /*height: 15%;*/
    position: absolute;
    right: 4.5%;
    /*top: 70%;*/
    z-index: 999;
    text-align: right;
    padding: 1%;
}

.ep-btn-oferta-favear-modal {
    font-size: 20pt;
    left: 85%;
    position: absolute;
    top: 12%;
}

.ep-btn-oferta-checkin-modal {
    font-size: 20pt;
    left: 75%;
    position: absolute;
    top: 12%;
}

.block-modal-publicacion {
    border-bottom: 1px solid gray;
    padding: 2%;
}

/*sitios*/
.widget-user .widget-user-image > img {
    min-height: 90px;
}